.container
{
  overflow:auto;
  margin:20px;
  background:#eee; 
   padding:20px 160px 20px 240px;
}
div img
{
  width:80px;
  height:80px;
}
div.jieshao
{
  float:left;
  positive:relative;
  width:100%;
  box-sizing:border-box;
}
div.logo
{
  float:left;
  position:relative;
  margin-left:-100%;
  left:-220px;
  width:200px;
  box-sizing:border-box;
}
div.logo p
{
  text-align:right;
}
div.jieshao,div.logo,div.user
{
  background:#fff;
  padding:20px;
}
div.user
{
  box-sizing:border-box;
  float:left;
  position:relative;
  margin-left:-120px;
  left:140px;
}
